html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#wrapper {
    min-height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-position: 56% 13%;
    background-scroll: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #222;
    line-height: inherit;
    height: 1px; /* no idea why this works, but needed to center left column vertically */
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* Social Media Icon Links */

#links {
    text-align: center;
}

#links > a {
    background-image: url('../img/sm_icons/sm-icons-64.png');
    background-size: cover;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 1px 6px;

    filter:         grayscale(50%);
    -webkit-filter: grayscale(50%);
    -moz-filter:    grayscale(50%);
    -ms-filter:     grayscale(50%);
    -o-filter:      grayscale(50%);
}

#links > a:hover, #links > a:active {
    filter:         none;
    -webkit-filter: none;
    -moz-filter:    none;
    -ms-filter:     none;
    -o-filter:      none;
}

.icon-soundcloud {
    background-position-x: -64px;
}
.icon-youtube {
    background-position-x: -128px;
}

.icon-instagram {
    background-position-x: -192px;
}

@media (min-device-pixel-ratio: 1.01),
    (-webkit-min-device-pixel-ratio: 1.01),
    (min--moz-device-pixel-ratio: 1.01),
    (-o-min-device-pixel-ratio: 101/100) {
    #links > a {
        background-image: url('../img/sm_icons/sm-icons-96.png');
    }
}
@media (min-device-pixel-ratio: 1.51),
(-webkit-min-device-pixel-ratio: 1.51),
(min--moz-device-pixel-ratio: 1.51),
(-o-min-device-pixel-ratio: 151/100) {
    #links > a {
        background-image: url('../img/sm_icons/sm-icons-128.png');
    }
}
@media (min-device-pixel-ratio: 2.01),
(-webkit-min-device-pixel-ratio: 2.01),
(min--moz-device-pixel-ratio: 2.01),
(-o-min-device-pixel-ratio: 201/100) {
    #links > a {
        background-image: url('../img/sm_icons/sm-icons-192.png');
    }
}
@media (min-device-pixel-ratio: 3.01),
(-webkit-min-device-pixel-ratio: 3.01),
(min--moz-device-pixel-ratio: 3.01),
(-o-min-device-pixel-ratio: 301/100) {
    #links > a {
        background-image: url('../img/sm_icons/sm-icons-256.png');
    }
}

/* General */

* {
    color: #EAEAEA;
    font-family: London;
}

@font-face {
    font-family: 'London';
    src: url('../fonts/LondonBetween.ttf');
}

@font-face {
    font-family: 'Title';
    src: url('../fonts/OstrichSans-Heavy.otf');
}

#title > * {
    font-family: 'Title';
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

/* lcc1 = left column container 1 */
#lcc1 {
    display: table;
    width: 100%;
    height: 100%;
}

#lcc2 {
    display: table-cell;
    vertical-align: middle;
}

#lcc3 {
    width: 50%;
    transform-style: preserve-3d;
}

#leftcolumn {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    width: 94%;
    transform: translate(-50%);
}

#rightcolumncontainter {
    float: left;
    width: 50%;
}

#about > div {
    width: 80%;
    margin: 15px auto;
    padding: 1px 20px;
    background-color: rgba(115, 106, 74, .3);

    border-radius: 30px;
}

#about > div > p {
    text-align: center;
}

#email {
    color: #b1a981;
}

#email:hover {
    color: #ff2a00;
}

/* Setup Mobile style (even on desktop, width just too small) */
@media (max-aspect-ratio: 6/5), (max-device-width: 760px) AND (orientation: landscape) {
    * {
        color: #111111;
    }
    #wrapper {
        background-color: #FEFEFE;
    }
    #lcc3 {
        width: 100%;
    }
    #leftcolumn {
        width: 85%;
        margin-top: 2%;
    }
    #about > div {
        width: 58%;
    }

    #email {
        color: #30698A;
    }

    #email:hover, #email:active {
        color: #C28A49;
    }
}

/* Mobile screen size increments (IMG names measured with widths) ----------- */
@media (min-width: 1px) {
    #wrapper {
        background-image: url('../img/backgrounds/mbg320w.jpg');
    }

    #title > h1 {
        font-size: 15vw;
        line-height: .6em;
        text-shadow: 2px 2px 1px rgba(10, 10, 10, .3);
    }

    #about {
        font-size: 3.3vw;
    }

    #about > div {
        width: 52%;
    }

    #links {
        width: 65%;
        margin: 0 auto;
    }

    img::selection,
    img::-moz-selection {
        background-color: transparent;
        color: #000;
    }
}
@media (min-width: 321px) {
    #wrapper {
        background-image: url('../img/backgrounds/mbg640w.jpg');
    }
    #about {
        font-size: 4vw;
    }
}
@media (min-width: 641px) {
    #wrapper {
        background-image: url('../img/backgrounds/mbg760w.jpg');
    }

    #title > h1 {
        font-size: 6em;
        text-shadow: 2px 2px 1px rgba(240, 240, 240, .3);
    }

    #links {
        width: initial;
        margin: initial;
    }

    #about {
        font-size: 1em;
    }
}

@media (max-device-width: 760px) AND (orientation: landscape) {
    #title > h1 {
        font-size: 11vw;
    }

    #about {
        font-size: 2.2vw;
    }

    #about > div {
        width: 56%;
    }

    #links {
        width: initial;
        margin: initial;
    }
}

/* Desktops (IMG names measured with heights)------------
   Note the first @media query will still use the mobile background */

@media (min-width: 761px) { #wrapper { background-image: url('../img/backgrounds/mbg1365w.jpg'); } }
@media (min-aspect-ratio: 6/5) AND (min-width: 761px) {
     #wrapper {
         background-image: url('../img/backgrounds/bg768.jpg');
     }
    #about > div {
        width: 80%;
    }
}
@media (min-width: 1366px) { #wrapper { background-image: url('../img/backgrounds/bg1080.jpg'); } }
@media (min-width: 1921px) { #wrapper { background-image: url('../img/backgrounds/bg1440.jpg'); } }
@media (min-width: 2561px) { #wrapper { background-image: url('../img/backgrounds/bg2916.jpg'); } }


::selection {
    background: #B16253;
    text-shadow: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
